.home-view-container {
    height: 100%;
    align-items: stretch;
}
.home-pain {
    padding: 16px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-items: stretch;
}
.element {
    height: max-content;
    min-width: min-content;
    margin: 10px;
}
.group {
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-items: stretch;
}
.search-icon {
    margin: 5px;
    width: 36px;
    height: 36px;
    font-size: 36px;
}
.icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.search-text-field {
    margin: 5px;
    width: 550px;
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.add-contact-button {
    margin: 10px;
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
