@page "/"
@inject NavigationManager NavigationManager
@inject IContactManagerService ContactManagerService

@using ContactManager.Client.Services;

    <div class="home-view-container row">
        <div class="home-pain column">
            <MudContainer MaxWidth="MaxWidth.Small" Class="object-left">
                <MudText Typo="Typo.h6" GutterBottom="true">Hallo <b>@currentAccountName !</b> Willkommen bei er persönlichen Kontakt und Adressenverwaltung</MudText>
            </MudContainer>
            <MudContainer MaxWidth="MaxWidth.Small" Class="object-left">
                <MudStack Row="true">
                    <div class="group row">
                        <MudButton Size="Size.Small" Color=Color.Secondary FullWidth="false" Variant="Variant.Filled" @onclick="@(e => Navigate("/add-view"))">Neuen Kontakt erstellen</MudButton>
                    </div>
                </MudStack>
            </MudContainer>
        </div>
    </div>

@code {
    private string currentAccountName;

    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }   

    protected override async Task OnInitializedAsync()
    {
        currentAccountName = ContactManagerService.getSelectedAccount().name;
    }
}
